<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        style
            include ./email.css
        title Document
    body
        h2 Confirma tu cuenta UpTask
        p Ya estás casi inscripto, solo rpesiona el siguiente botón.
        a(href=`${confirmarUrl}`) Confirmar Cuenta
        p si no puedes acceder a este enlace, visita #{confirmarUrl}
    